.row
  .col.s12
    .flex-hz-center
      .col.s12.m8.l6.xl4
        .card
          .card-tabs
            ul.tabs.tabs-fixed-width(materialize="tabs")
              li.tab: a(href="#login") Login
              li.tab: a(href="#register") Register

          .card-content
            app-login#login
            app-register#register
