.row
  .col.s12
    .flex-hz-center
      .col.s12.m10.xl8
        .card
          .card-tabs
            ul.tabs.tabs-fixed-width(materialize="tabs")
              li.tab: a(routerLink="", fragment="inloggen") Inloggen
              li.tab: a(routerLink="", fragment="registreren") Registreren

          .card-content
            app-login#inloggen
            app-register#registreren
