nav
  .nav-wrapper
    a.brand-logo(routerLink="/") ZVDO'74
    a.button-collapse(href="#", data-activates="side-nav-menu", materialize="sideNav"): mat-icon(svgIcon="menu") menu

    ul.right.hide-on-med-and-down
      li(routerLinkActive="active"): a(routerLink="/wedstrijden") Wedstrijden
      li: a(routerLink="/zwembaden") Zwembaden
      li: a(routerLink="/profiel") Profiel
      li.active: a(disabled="disabled") Welkom {{ auth.getUser() }}
      li: a((click)="auth.logout()") Uitloggen

    ul.side-nav#side-nav-menu
      li: a(routerLink="/wedstrijden") Wedstrijden
      li: a(routerLink="/zwembaden") Zwembaden
      li: a(routerLink="/profiel") Profiel
      li: a((click)="auth.logout()") Uitloggen
