.col.s12
  .section
    ng-template([ngIf]="hasMeetings()")
      .collection.z-depth-1
        app-meeting-item(*ngFor="let meeting of meetings", [meeting]="meeting")
    ng-template([ngIf]="!hasMeetings()")
      .collection.z-depth-1
       .collection-item Er zijn geen evenementen gevonden
