doctype html
.row.section
  .col.s12.m4
    ng-template([ngIf]="auth.isAdmin()")
      .col.s12
        button.btn.btn-full-width.z-depth-1.waves-effect.waves-light(type="button", routerLink="aanmaken")
          mat-icon(svgIcon="plus-box-outline")
          span Zwembad toevoegen

    app-pool-list

  .col.s12.m8
    router-outlet
